


html, body {		
}

.main-div {
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;		
	padding: 10px;	
	box-sizing:border-box;
	text-align: left;	
}

#divContainer {
	display: grid;
	width: 95%;		
	margin: 20px;
}

#divInput {
	height:100px;	
	grid-column: 1 / span 2;
}

#divMap {	
	grid-column: 1;
	grid-row: 2;		       
    position: relative;	
}

#divBottom {	
	grid-column: 1;
	grid-row: 3;
	height: 250px;
	position: relative;
	padding: 0px;
}

#divRight {	
	grid-column: 2;
	grid-row: 2 / span 2;	
	width: 300px;
	height: 100%;		
}

.transparent {
	opacity: 0.2; 
}

.fullyVisible {
	opacity: 1; 
}

.form-label {
	vertical-align: super; 
	float: left;	
	font-weight:bold;
}
	
.ui-dialog-titlebar-close {
    visibility: hidden;
}

fieldset div {	
	padding:10px;
}

#feedback { font-size: 1em; }
.select-box .ui-selecting { background: #FECA40; }
.select-box .ui-selected { background: #F39814; color: white; }
.select-box { list-style-type: none; margin: 0; padding: 0; margin-left:150px; }
.select-box li { padding: 0.4em; font-size: 1em; height: 18px; display:inline-block; width:80px;}

div.chart {
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd;		
	box-sizing:border-box;
	float: left;
	height: 100%;
	width:25%;
}
